@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: black;
    height: 65px;
    color: white;

}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 44px;
    padding: 0 8px;

}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    justify-content: space-between;
}

.bottom {
    position: sticky;
    height: 100px;
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;

}

.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img {
    width: 33px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp {
    margin: 0 23px;
    display: flex;
    padding: 2px;


}

.timestamp i {
    cursor: pointer;
}

.songItemContainer {
    margin-top: 74px;
}

.songInfo {
    position: absolute;
    left: 10vw;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.icon {
    cursor: pointer;
}

#myprogressBar {
    cursor: pointer;
}

.right {
    width: 40%;
    margin-top: 74px;
    position: relative;
    left: -96px;
}